<div class="container">

    <img id="profile-img" class="profile-img-card" src="../../assets/img/cables.png" />

    <div class="card card-container">

        <form class="form-signin" method="POST">
            <span id="reauth-email" class="reauth-email"></span>

            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="E-mail" required autofocus>
            <input type="password" id="inputPassword" name="senha" class="form-control" placeholder="Senha" required>

            <div id="relembre" class="checkbox">
                <label>
                    <input type="checkbox" value="Lembre-me"> Lembre-me
                </label>
            </div>
            <a href="../menu-principal/">
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Entrar</button>
            </a>
        </form>

        <a href="..\recuperacao-senha\" class="esqueceu-senha">
            Esqueceu sua senha?
        </a>
    </div>
</div>